# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebooks
.ipynb_checkpoints

# Virtual Env
venv/
ENV/

# Data
data/
!data/final/
!data/provincias_centroids.csv
*.csv
*.xlsx
*.parquet
!data/final/*.parquet

# VS Code
.vscode/

# Secrets
.env
keys/
*.json
